<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student Details</h1>
    <ul>
        <li><strong>Name:</strong><%= s.name %></li>
        <li><strong>Grade:</strong><%= s.grade %></li>
        
    </ul>
    <a href="/students">Next</a>
    
</body>
</html>