<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/students" method="POST">
    <div>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" required><br>
    </div>
    <br>
    <br>
    <div>
        <label for="grade">Grade:</label>
        <input type="number" name="grade" id="grade" required>
    </div>
    <br>
   <button type="submit">submit</button>
</form>
     <a href="/students">Go to add students</a>
</body>
</html>