<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <%= title %>
    <h1>Welcome Our New Page</h1>
    <p><strong>This is the teachers and students Details page</strong></p>

    
</body>
<a href="/students">next</a>
</html>