<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= title %></h1>
    <a class="add btn" href="/students/add">Add Student</a>
    <ul class="list">
        <% students.forEach((s) => { %>
            <li>
                <a href="/students/<%= s.id %>" ><%= s.name %></a> - Grade: <%= s.grade %>
            </li>
       <% }) %>
    </ul>
    <a class="back" href="/">Back To Home</a>
</body>
</html>