<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" required><br>
    </div>
    <br>
    <br>
    <div>
        <label for="class">Class:</label>
        <input type="number" name="classname" id="classname" required>
    </div>
    <br>
    <a href="/students">add</a>
    <br>
    <a href="/teachers">next</a>
</body>
</html>