<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required>
    </div>
    <br>
    <br>
    <div>
        <label for="subject" >Subject:</label>
        <input type="text" name="subject" id="subject" required>
        
    </div>
    <br>
    <a href="/teachers">add</a>
    <br>
    <a href="/">back to home page</a>
    
</body>
</html>